.sidebar
  height: 20%
  box-shadow: 1px 1px 10px grey
  background-color: #307672
  position: relative
  p
    margin: 10px 0 0 0
    line-height: 30px
    color: white
    display: inline-block

.oddSideBar
  box-shadow: 1px 1px 10px grey
  background-color: #E4EDDB
  p
    color: black

.title
  //todo: delete
  p
    // color: red
    // line-height: 40px
    // font-size: 30px