@import "./share.sass"
@import "./shareAnimation.sass"
@media (max-width: 767px)
  $img-ctn-width: 5rem
  $p-text-indent: 1rem
  $p-text-height: 2rem
  .about-page
    // margin-top: $right-page-margin
    // margin-bottom: $right-page-margin
    margin: $right-page-margin * 1.5 $right-page-margin $right-page-margin * 1.5 $right-page-margin * 0.5 
    padding: $right-page-margin
    background-color: white
    border-radius: 10px
    h3
      margin: 0
      border-left: 4px solid red
      text-indent: $p-text-indent
      margin-bottom: $p-text-height / 2
    p
      margin: 0
      line-height: $p-text-height
      text-indent: $p-text-indent * 1.3
      letter-spacing: $p-text-indent / 20
      padding: 
      a
        text-decoration: none
        color: black
    .byte-dance
      animation: move 5s infinite ease-in-out
      -webkit-animation: move 5s infinite ease-in-out 
      animation: move 5s infinite ease-in-out 
      display: inline-block 
      margin: 0 5px 
      color: hotpink
  .friends-link
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 0 $right-page-margin 0 0
    .friend-info-ctn
      width: 100%
      a
        height: $img-ctn-width
        display: block
        position: relative
        padding: 0 10px 0 $img-ctn-width
        text-decoration: none
        transition: background linear
        border-radius: 10px
        &:hover
          background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);         
          .ava-img
            box-shadow: 2px 2px 10px #537895
            transform: rotate(360deg)
        .ava-img
          display: block
          height: $img-ctn-width / 1.5 
          border-radius: 50%
          box-shadow: 1px 1px 5px green
          transition: transform 1s
          position: absolute
          left: $img-ctn-width / 1.5 / 4
          top: $img-ctn-width / 1.5 / 4
          &:hover
            box-shadow: 1px 1px 10px yellow
      p
        margin: 0 0 0 $img-ctn-width / 20
        text-indent: 0
        width: 100%
        overflow: hidden
        text-overflow: ellipsis
        -webkit-line-clamp: 1
        white-space: nowrap
        color: black
        &.intro-name
          padding-top: .3rem
          font-weight: 50
          font-size: 1rem
        &.intro-info
          margin-top: .1rem
          font-size: .8rem
          
  
@media (min-width: 768px) and (max-width: 1199px)
  $img-ctn-width: 6rem
  $p-text-indent: 1rem
  .about-page
    // margin-top: $right-page-margin
    // margin-bottom: $right-page-margin
    margin: $right-page-margin * 1.5 $right-page-margin $right-page-margin * 1.5 $right-page-margin * 0.5 
    padding: $right-page-margin
    background-color: white
    border-radius: 10px
    h3
      margin: 0
      border-left: 4px solid red
      text-indent: $p-text-indent
    p
      margin: .5rem
      text-indent: $p-text-indent * 1.3
      letter-spacing: $p-text-indent / 20
      line-height: 1.5rem
      a
        color: black
    .byte-dance
      animation: 
      -webkit-animation: move 5s infinite ease-in-out 
      animation: move 5s infinite ease-in-out 
      display: inline-block 
      margin: 0 5px 
      color: hotpink

  .friends-link
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 0 $right-page-margin 0 0
    
    .friend-info-ctn
      width: 100%
      a
        height: $img-ctn-width
        display: block
        position: relative
        padding: 0 10px 0 $img-ctn-width
        text-decoration: none
        transition: background linear
        border-radius: 10px
        &:hover
          background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);         
          .ava-img
            box-shadow: 2px 2px 10px #537895
            transform: rotate(360deg)
          p
            color: white
        .ava-img
          display: block
          height: $img-ctn-width / 1.5 
          border-radius: 50%
          box-shadow: 1px 1px 5px green
          transition: transform 1s
          position: absolute
          left: $img-ctn-width / 1.5 / 4
          top: $img-ctn-width / 1.5 / 4
          &:hover
            box-shadow: 1px 1px 10px yellow
      p
        margin: 0 0 0 0
        text-indent: .5rem
        color: black
        &.intro-name
          padding-top: $img-ctn-width / 6
          font-weight: 500
          font-size: 1rem
        &.intro-info
          margin-top: $img-ctn-width / 8
          font-size: .8rem
  
@media (min-width: 1200px)
  $img-ctn-width: 8rem
  $p-text-indent: 1rem
  .about-page
    // margin-top: $right-page-margin
    // margin-bottom: $right-page-margin
    margin: $right-page-margin * 1.5 $right-page-margin $right-page-margin * 1.5 $right-page-margin * 0.5 
    padding: $right-page-margin
    background-color: white
    border-radius: 10px
    h3
      margin: 0
      border-left: 4px solid red
      text-indent: $p-text-indent
    p
      text-indent: $p-text-indent * 1.3
      letter-spacing: $p-text-indent / 20
      padding: 
      a
        text-decoration: none
        color: black
    .byte-dance
      animation: 
      -webkit-animation: move 5s infinite ease-in-out 
      animation: move 5s infinite ease-in-out 
      display: inline-block 
      margin: 0 5px
      color: hotpink

  .friends-link
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 0 $right-page-margin 0 0
    
    .friend-info-ctn
      width: 50%
      a
        height: $img-ctn-width
        display: block
        position: relative
        padding: 0 10px 0 $img-ctn-width
        text-decoration: none
        transition: background linear
        border-radius: 10px
        &:hover
          background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);         
          .ava-img
            box-shadow: 2px 2px 10px #537895
            transform: rotate(360deg)
          p
            color: white
        .ava-img
          display: block
          height: $img-ctn-width / 1.5 
          border-radius: 50%
          box-shadow: 1px 1px 5px green
          transition: transform 1s
          position: absolute
          left: $img-ctn-width / 1.5 / 4
          top: $img-ctn-width / 1.5 / 4
          &:hover
            box-shadow: 1px 1px 10px yellow
      p
        margin: 0 0 0 0
        color: black
        &.intro-name
          padding-top: $img-ctn-width / 4
          font-weight: 500
          font-size: 1.2rem
        &.intro-info
          margin-top: $img-ctn-width / 10
          font-size: 1rem
          line-height: 1.5rem