h1
  color: red

.left-board
  position: fixed
  // overflow: scroll
  left: 0
  height: 100%
  width: 15%
  display: block
  transition: all linear .1s
  background-color: transparent
  // background-color: #649DAD 

.clicktohide
  background-color: red
  position: absolute
  left: 15%
  top: 0
  z-index: 99

.newgg
  // display: none
  // SideBar
  // display: none
  width: 5%