// @media (max-width: 767px)
// .left-board

  
h1
  color: red
.left-board
  position: fixed
  // overflow: scroll
  left: 0
  height: 100%
  width: 15%
  display: block
  transition: all linear .1s
  // background-color: transparent
  background: #F3D8E5
  padding-top: 2rem
  // background-color: #649DAD 
  a
    text-decoration: none

.clicktohide
  position: absolute
  padding: .3rem 0
  left: 15%
  top: 0
  z-index: 99
  transition: all linear .1s
  &:hover
    cursor: pointer

.newgg
  // display: none
  // SideBar
  // display: none
  width: 5%